.fs-16 
{
    font-size: 16pt;
}

a{
cursor: pointer;
}

.corMenu {
    background: #f7f6f5 !important;
    background: -webkit-linear-gradient(to right, #ffffff, #f78eee, #9125e9) !important;
    background: linear-gradient(to right, #ffffff, #f78eee, #8758d3) !important; 
}
