.fs-16 
{
    font-size: 16pt;
}

a{
cursor: pointer;
}

.corMenu {
    background: #f7f6f5 !important;
    background: -webkit-linear-gradient(to right, #ffffff, #d86479, #837bd3, #58c8e3) !important;
    background: linear-gradient(to right, #ffffff, #d86479, #978eee) !important;
}
