#img-bg{
    background-image: url("https://media4.giphy.com/media/Y3ekN5LwMYN1xk7c0M/giphy.gif?cid=ecf05e47wxcstu4lxk16r5unjkovdklw09mbkod5rbm1a8kg&rid=giphy.gif&ct=s") ;

    min-height:  695px;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}