#img-bg{
    background-image: url("https://media.istockphoto.com/vectors/colorful-violoncello-with-music-notes-vector-id499155644?k=20&m=499155644&s=170667a&w=0&h=hYEMPTcieXBu9ZkgAF3-SjTm9mr0IT_vWqM6m8QhHpw=") ;

    min-height:  695px;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}