#img-bg{
    background-image: url("https://i.pinimg.com/originals/61/4b/26/614b2619e4f0afda174ae844c5cb8c20.jpg") ;

    min-height:  695px;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}